.mainContent {
  flex-grow: 1;
  padding: 24px 0;
  display: flex;
  margin-bottom: 32px;
  flex-direction: column;
  height: inherit;
  overflow: scroll;
}

.historyList {
  max-height: 500px;
  overflow: scroll;
}
