.sidebarDrawer {
  width: 300px;
  flex-shrink: 0;

  > div {
    width: inherit;
    box-sizing: border-box;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.listItem {
  gap: 16px;
}

.resetButton {
  margin-top: auto;
}
