.footer {
  text-align: center;
  padding: 16px 0;
  margin-top: auto;
  border-top: 1px solid var(--color-border);
  position: fixed;
  bottom: 0;
  width: calc(100vw - 300px);
  background: var(--color-white);
  z-index: 1;
}
