.photo {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--color-fallback);
  min-height: 500px;
  height: auto;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.thumbnail {
    width: 120px;
    height: 120px;
    min-height: unset;
  }

  img {
    width: auto;
    max-height: inherit;
    object-fit: cover;
  }
}

.skeleton {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    var(--color-fallback) 25%,
    #f5f5f5 50%,
    var(--color-fallback) 75%
  );
  background-size: 200% 100%;
  animation: placeholderShimmer 1.2s infinite;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
